body {
  font-family: Georgia;
}
ul.sidenav {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #070707;
  top:0;
  left:0;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
h1.side{
  color:white;
}
h4.side{
  color:white;
}
div.content {
  margin-left: 15%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  .fa-linkedin 
  {
  background: black;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-github {
    background: black;
    color: white;
}

.fa-download {
    background: black;
    color: white;
}
.fa-at {
    background: black;
    color: white;
}